<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 600px;
            margin-top: 50px;
        }

        .result-box {
            border: 1px solid #ced4da;
            padding: 20px;
            border-radius: 5px;
            margin-top: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>

    <div class="container">
        <h1 class="mb-4">Sentiment Analysis</h1>
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="text">Enter your text:</label>
                <textarea class="form-control" id="text" name="text" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% if sentiment_label %}
        <div class="result-box">
            <h2 class="mt-4">Result:</h2>
            <p><strong>Input Text:</strong> {{ caption }}</p>
            <p><strong>Sentiment:</strong> {{ sentiment_label }}</p>
        </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
